.footer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 5px;
}

a {
  position: relative;
}

@media only screen and (max-width: 700px) {
  .footer {
    font-size: 10px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 700px) {
  br {
    display: none;
  }
}
