.addToCartBtn {
  background-color: rgb(235, 222, 104);
  color: grey(249, 247, 247);
}

.modal-body {
  left: 175px;
}

input {
  border-radius: 3px;
  height: 30px;
}

span {
  color: red;
  margin-top: 12px;
}
