.goToAddProduct {
  background-color: rgba(246, 252, 173, 0.6);
  position: relative;
  /* bottom: 2px; */
  text-decoration: auto;
  float: right;
  margin-right: 21px;
  color: rgb(141, 136, 136);
}

.goToAddProduct:hover {
  background-color: rgba(247, 248, 231, 0.6);
  text-decoration: underline;
  cursor: pointer;
}
