h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/* @font-face {
  font-family: "titleFont";
  src: url("PaytoneOne-Regular.ttf");
} */
