<div>
  <!-- If customer not logged in: -->
  <div *ngIf="!customer" class="divLogin">
    <form (ngSubmit)="send()" #loginForm="ngForm">
      <h2>Login</h2>

      <mat-form-field floatLabel="always" appearance="outline">
        <mat-label>Email:</mat-label>
        <input
          type="email"
          matInput
          placeholder="example@gmail.com"
          name="username"
          [(ngModel)]="credentials.username"
          #emailModel="ngModel"
          required
          minlength="5"
          maxlength="50"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        />
        <mat-hint
          align="start"
          *ngIf="emailModel.errors?.['required'] && emailModel.touched"
          >Missing email</mat-hint
        >
        <mat-hint
          align="start"
          *ngIf="emailModel.errors?.['minlength'] && emailModel.touched"
          >Email must be minimum 5 chars</mat-hint
        >
        <mat-hint
          align="start"
          *ngIf="emailModel.errors?.['maxlength'] && emailModel.touched"
          >Email can't exceed 50 chars</mat-hint
        >
        <mat-hint
          align="end"
          *ngIf="!emailModel.errors?.['required'] &&!emailModel.errors?.['minlength'] && !emailModel.errors?.['maxlength'] && emailModel.errors?.['pattern']"
          >Email is invalid</mat-hint
        >
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="outline">
        <mat-label>Password:</mat-label>
        <input
          type="password"
          matInput
          placeholder="****"
          name="password"
          [(ngModel)]="credentials.password"
          #passwordModel="ngModel"
          required
          minlength="4"
          maxlength="128"
        />
        <mat-hint
          align="start"
          *ngIf="passwordModel.errors?.['required'] && passwordModel.touched"
          >Missing password</mat-hint
        >
        <mat-hint
          align="start"
          *ngIf="passwordModel.errors?.['minlength'] && passwordModel.touched"
          >Password must be minimum 4 charts</mat-hint
        >
        <mat-hint
          align="start"
          *ngIf="passwordModel.errors?.['maxlength'] && passwordModel.touched"
          >Password can't exceed 128 charts</mat-hint
        >
      </mat-form-field>

      <button mat-raised-button [disabled]="loginForm.invalid" class="loginBtn">
        Login
      </button>
    </form>

    <!-- Register new customer -->
    <p>
      Don't have an account?
      <button mat-raised-button [routerLink]="'/register'" class="signUpBtn">
        Sign up
      </button>
    </p>
  </div>

  <!-- If customer logged in: -->
  <div *ngIf="customer">
    <button mat-raised-button routerLink="/shop" class="startShopBtn">
      <div>{{ displayShopBtn() }}</div>
    </button>
  </div>
</div>
