<div class="orderContainer">
  <div class="divLeftOrder">
    <div>
      <h2>Order Details</h2>

      <div class="back-shop" mat-raised-button routerLink="/shop">
        <mat-icon class="back-shop-icon">arrow_back_ios</mat-icon>Back to shop
      </div>
    </div>

    <mat-list>
      <mat-list-item *ngFor="let c of allCartItemsOfCart">
        <app-cart-item [cartItem]="c"></app-cart-item>
        <mat-divider></mat-divider>
      </mat-list-item>
      <div class="orderFooter">
        <h3>No changes permitted here !</h3>
        <p class="totalPrice">Total: {{ totalPrice | currency : "ILS" }}</p>
      </div>
    </mat-list>
  </div>

  <div class="divRightOrder">
    <app-add-order></app-add-order>
  </div>
</div>
