img {
  background: transparent;
  border-radius: 20px;
  height: 400px;
}

h2 {
  color: azure;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
}
