<div *ngIf="cartItem.product" class="cartItem">
  <div class="cartItemContainer">
    <div>
      <img
        [src]="imageSource"
        [ngClass]="router.url === '/order' ? 'cartItemImgInOrder' : ''"
      />
    </div>

    <div
      [ngClass]="
        router.url === '/order' ? 'cartItemContentInOrder' : 'cartItemContent'
      "
    >
      <ng-container *ngIf="router.url === '/order'">
        <span
          class="cartItemNameInOrder"
          [innerHTML]="cartItem.product.productName | highlighter : search"
        ></span>
      </ng-container>

      <div>
        <ng-container *ngIf="router.url !== '/order'">
          <span class="cartItemName">{{ cartItem.product.productName }}</span>
        </ng-container>
        <span class="cartItemDetails">
          {{ cartItem.product.price | currency : "ILS" }}
        </span>
        <span class="cartItemDetails">
          Quantity:
          {{ cartItem.quantity }}
        </span>
        <span class="cartItemDetails">
          Total:
          {{ cartItem.quantity * cartItem.product.price | currency : "ILS" }}
        </span>
      </div>

      <div class="cartItemAction" *ngIf="onlyInTheCart">
        <mat-icon
          (click)="deleteCurrentCartItem(cartItem.cartId, cartItem.product._id)"
          >remove_shopping_cart</mat-icon
        >
      </div>
    </div>
  </div>
</div>
