.layout {
  display: grid;
  height: 100%;
  box-sizing: border-box;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 20% 75% 5%;
}

header,
footer {
  grid-column: span 6;
}

main {
  grid-column: span 6;
  overflow: auto;
}

@media only screen and (max-width: 1020px) {
  .layout {
    grid-template-rows: 13% 82% 5%;
  }
}
