<mat-list class="cart-list">
  <h2>My Cart</h2>
  <hr />

  <h3 class="cartEmpty" *ngIf="allCartItemsOfCart?.length === 0">No Items</h3>

  <mat-list-item *ngFor="let c of allCartItemsOfCart">
    <app-cart-item
      [cartItem]="c"
      [onlyInTheCart]="isThisCart"
      (cartItemDelete)="deleteCurrentCartItem($event)"
    ></app-cart-item>
    <mat-divider></mat-divider>
  </mat-list-item>

  <div *ngIf="totalPrice && allCartItemsOfCart?.length !== 0">
    <div class="totalPrice">Total: {{ totalPrice | currency : "ILS" }}</div>
  </div>

  <div class="cartActions">
    <div
      mat-button
      *ngIf="allCartItemsOfCart?.length !== 0"
      (click)="deleteAllCartItems()"
      class="deleteAllBtn"
    >
      <mat-icon class="delete-icon">delete_sweep</mat-icon>Delete All
    </div>

    <div
      *ngIf="allCartItemsOfCart?.length !== 0"
      routerLink="/order"
      class="orderBtn"
    >
      <mat-icon class="order-icon">shopping_basket</mat-icon>Order Now
    </div>
  </div>
</mat-list>
