.divRegister {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-stepper {
  border-radius: 20px;
  margin: auto;
  width: 450px;
}

::ng-deep mat-step {
  pointer-events: none !important;
}

.backLoginBtn {
  top: 35px;
  left: 50px;
  position: fixed;
  text-decoration: auto;
  margin: auto;
  color: white;
}

.backLoginText {
  display: inline-block;
  position: relative;
  bottom: 6px;
  color: white;
}

.iconBack {
  color: white;
}
