<div>
  <form [formGroup]="registerStepTwoForm">
    <mat-form-field appearance="outline">
      <mat-label>First name:</mat-label>
      <input
        type="text"
        matInput
        placeholder="first name"
        [formControl]="firstName"
      />
      <mat-hint
        align="start"
        *ngIf="firstName.errors?.['required'] && firstName.touched"
        >Missing first Name</mat-hint
      >
      <mat-hint
        align="start"
        *ngIf="firstName.errors?.['minlength'] && firstName.touched"
        >First name must be minimum 2 chars</mat-hint
      >
      <mat-hint
        align="start"
        *ngIf="firstName.errors?.['maxlength'] && firstName.touched"
        >First name can't exceed 50 chars</mat-hint
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last name:</mat-label>
      <input type="text" matInput [formControl]="lastName" />
      <mat-hint
        align="start"
        *ngIf="lastName.errors?.['required'] && lastName.touched"
        >Missing last Name</mat-hint
      >
      <mat-hint
        align="start"
        *ngIf="lastName.errors?.['minlength'] && lastName.touched"
        >Last name must be minimum 2 chars</mat-hint
      >
      <mat-hint
        align="start"
        *ngIf="lastName.errors?.['maxlength'] && lastName.touched"
        >Last name can't exceed 50 chars</mat-hint
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>City:</mat-label>
      <mat-select [formControl]="city" placeholder="Select...">
        <mat-option
          *ngFor="let enum of CityEnum | keyvalue"
          [value]="enum.value"
          >{{ enum.value }}
        </mat-option>
      </mat-select>
      <mat-hint align="start" *ngIf="city.errors?.['required'] && city.touched"
        >Missing city</mat-hint
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Street:</mat-label>
      <input type="text" matInput [formControl]="street" />
      <mat-hint
        align="start"
        *ngIf="street.errors?.['required'] && street.touched"
        >Missing street</mat-hint
      >
      <mat-hint
        align="start"
        *ngIf="street.errors?.['minlength'] && street.touched"
        >Street must be minimum 2 charts</mat-hint
      >
      <mat-hint
        align="start"
        *ngIf="street.errors?.['maxlength'] && street.touched"
        >Street can't exceed 100 charts</mat-hint
      >
    </mat-form-field>

    <button
      mat-button
      [disabled]="registerStepTwoForm.invalid"
      (click)="sendLastStep()"
    >
      Register
    </button>
  </form>
</div>
